@import url("./warownia.css");
#scrollbanner {
    /* fuck you */
    background-image: url("./assets/arsentical.png");
    background-size: cover;
    height: 100px;
    animation-name: bannerscroll;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 10px;
}
@media screen and (min-width: 420px) {
    #scrollbanner {
        background-size: contain;
    }
}
@keyframes bannerscroll {
    0% {
        background-position: calc(1000px * 100 / 250) 0;
    }
    100% {
        background-position: 0 0;
    }
}
#video {
    min-width: 100%;
    min-height: 100%;
}
#videobox {
    height: calc(100vh - 240px);
    overflow: hidden;

}
body {
    margin: 0;
    overflow: hidden;
    font-family: "Warownia", "Helvetica", sans-serif;
}
#linkbanner {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 32px;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 120px;
    background-color: white;
}
#linkbanner > li > a {
    padding: 0 8px;
    padding-top: 8px;
    color: black;
    text-decoration: overline;
    width: 200px;
    display: inline-block;
    text-align: center;
}
#slogan {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}