@font-face {
  font-family: "Helvetica New";
  font-weight: 700;
  src: url("./assets/helveticanew-bold.otf");
}
@font-face {
  font-family: "Helvetica New";
  font-weight: 400;
  src: url("./assets/helveticanew-regular.otf");
}
@font-face {
  font-family: "Helvetica New";
  font-weight: 300;
  src: url("./assets/helveticanew-light.otf");
}
:root {
  --col-bg-1: #0A0A0A;
  --col-bg-2: #111111;
  --col-bg-3: #1F1F1F;
  --col-bg-4: #343434;
  --col-bg-5: #505050;
  --col-bg-6: #ffffff;
  --col-fg-1: #ffffff;
  --col-fg-2: #000000;
  --col-link: #4A86E8;
  font-family: "Helvetica New";
  font-size: 16px;
}

.padding-text {
  display: inline-block;
  background-color: var(--col-bg-6);
  color: var(--col-fg-2);
  padding: 0.25rem;
}

body {
  margin: 0;
}

.app {
  background-color: var(--col-bg-1);
  color: var(--col-fg-1);
}
.app > .nav {
  /* ios */
  -webkit-touch-callout: none;
  /* safari */
  -webkit-user-select: none;
  /* khtml */
  -khtml-user-select: none;
  /* old ff */
  -moz-user-select: none;
  /* old ie */
  -ms-user-select: none;
  /* modern web */
  user-select: none;
  background-color: var(--col-bg-3);
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
}
.app > .nav.animating {
  transition-property: width;
  transition-duration: 250ms;
}
.app > .nav.animating > .page-container {
  transition-property: transform;
  transition-duration: 250ms;
}
.app > .nav.open {
  width: 12rem;
}
.app > .nav.open > .page-container {
  transform: translateX(0);
}
.app > .nav > .nav-name {
  display: inline-block;
  font-size: 2rem;
  width: 12rem;
  line-height: 3.75rem;
  text-align: center;
  z-index: 104;
  position: relative;
}
.app > .nav > .nav-name > span {
  background-color: var(--col-bg-3);
}
.app > .nav > .nav-name-padding {
  position: relative;
  z-index: 103;
  background-color: var(--col-bg-3);
  width: 8rem;
  height: 4rem;
  margin-bottom: -4rem;
}
.app > .nav > .breadcrumb {
  z-index: 102;
  position: relative;
  display: inline-block;
  margin-left: -2rem;
  transform: translateX(0);
}
.app > .nav > .breadcrumb.animating {
  transition-property: transform;
  transition-duration: 250ms;
}
.app > .nav > .breadcrumb.open {
  transform: translateX(-100%);
}
.app > .nav > .breadcrumb > li, .app > .nav > .breadcrumb > a {
  display: inline;
}
.app > .nav > .breadcrumb > li::before, .app > .nav > .breadcrumb > a::before {
  content: "/ ";
}
.app > .nav > .breadcrumb > li:last-child, .app > .nav > .breadcrumb > a:last-child {
  font-weight: bold;
}
.app > .nav > .breadcrumb > li > .button:hover:not(:active), .app > .nav > .breadcrumb > a > .button:hover:not(:active) {
  text-decoration: underline;
}
.app > .nav > .page-container {
  transform: translateX(-1rem);
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 4rem);
  direction: rtl;
}
.app > .nav > .page-container > .pages {
  direction: ltr;
  z-index: 105;
  list-style-type: none;
  background-color: var(--col-bg-3);
  width: 9rem;
  padding-left: 3rem;
  position: relative;
  left: calc(12rem - 100vw);
  min-height: calc(100vh - 6rem);
  transform: translateX(-13rem);
}
.app > .nav > .page-container > .pages.animating {
  transition-property: transform;
  transition-duration: 250ms;
}
.app > .nav > .page-container > .pages.animating li, .app > .nav > .page-container > .pages.animating a {
  transition-property: margin-left;
  transition-duration: 250ms;
}
.app > .nav > .page-container > .pages.open {
  transform: translateX(0);
}
.app > .nav > .page-container > .pages.open > .button {
  margin-left: -2rem;
}
.app > .nav > .page-container > .pages.open > .sub-page > ul > .button {
  margin-left: -1rem;
}
.app > .nav > .page-container > .pages > .bg {
  background-color: var(--col-bg-3);
  width: 12rem;
  height: 1rem;
  position: fixed;
  left: 0;
  top: -1rem;
}
.app > .nav > .page-container > .pages > .bg-end {
  background-color: var(--col-bg-3);
  width: 12rem;
  height: 1rem;
  position: fixed;
  left: 0;
  bottom: -1rem;
}
.app > .nav > .page-container > .pages > .button {
  background-color: var(--col-bg-4);
  margin-left: -3.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 12.5rem;
}
.app > .nav > .page-container > .pages > .button:hover:not(:active) {
  background-color: var(--col-bg-5);
}
.app > .nav > .page-container > .pages a {
  display: block;
}
.app > .nav > .page-container > .pages > .sub-page > ul {
  margin-left: -2rem;
  list-style-type: none;
}
.app > .nav > .page-container > .pages > .sub-page > ul > .button {
  background-color: var(--col-bg-4);
  margin-left: -2.5rem;
  padding: 0.25rem;
  margin-top: 1rem;
  width: 11.5rem;
}
.app > .nav > .page-container > .pages > .sub-page > ul > .button:hover:not(:active) {
  background-color: var(--col-bg-5);
}
.app > .content > .header {
  height: 14rem;
  background-position: 50% 50%;
  background-size: cover;
}
.app > .content > .header.background-sunset {
  background-image: url("./assets/background-sunset.jpg");
}
.app > .content > .page-frame {
  background-color: var(--col-bg-2);
}
.app > .content > .page-frame > .page-content {
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-height: calc(100vh - 17.5rem);
}
@media only screen and (max-width: 600px) {
  .app > .content > .page-frame > .page-content {
    min-height: calc(100vh - 21.5rem);
  }
}
@media only screen and (min-width: 800px) {
  .app > .content > .page-frame > .page-content {
    width: 800px;
  }
}
@media only screen and (min-width: 1600px) {
  .app > .content > .page-frame > .page-content {
    width: 50vw;
  }
}
.app > .content > .footer {
  text-align: center;
  padding: 1rem 0;
  line-height: 1;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .app > .content > .footer .footer-br {
    display: block;
  }
  .app > .content > .footer .footer-slash {
    display: none;
  }
}

noscript {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
a.link {
  color: var(--col-link);
}
a.link:hover {
  text-decoration: underline;
}
a.link:active {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: -1rem;
}

.page-subtitle {
  text-align: center;
  font-style: italic;
}

/*# sourceMappingURL=index.css.map */
