@font-face {
  font-family: "Helvetica New";
  font-weight: 700;
  src: url("./assets/helveticanew-bold.otf");
}

@font-face {
  font-family: "Helvetica New";
  font-weight: 400;
  src: url("./assets/helveticanew-regular.otf");
}

@font-face {
  font-family: "Helvetica New";
  font-weight: 300;
  src: url("./assets/helveticanew-light.otf");
}
